@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100light,300,300ita‌​lic,400light,500,500light,700,700light,900light,900);
html, html * {
  font-family: Roboto;
}

.step-body {
    font-family: 'Alegreya Sans', sans-serif;
    /*margin: 0;
    padding: 0;*/
}
.step-container {
  width: 600px;
  margin: 100px auto;
}
.progressbar {
  margin: 0;
  padding: 0;
  counter-reset: step;
}
.progressbar li {
  list-style-type: none;
  width: 25%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}
.progressbar li:before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 30px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: green;
}
.progressbar li.active:before {
  border-color: #55b776;
}
.progressbar li.active + li:after {
  background-color: #55b776;
}
.demo-card-wide.mdl-card {
  background-color: #3A98EE;
}
.demo-card-wide>.mdl-card__title {
  color: #FFFFFF;
  background: url('') center / cover;
}
h3{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 100 !important;
}
.bg-color-blue{
  background-color: #3A98EE;
}
.demo-card-wide>.mdl-card__menu {
  color: #fff;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.flex-item {
  padding: 10px;
  height: 150px;
  margin-top: 10px;
}
