@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100light,300,300ita‌​lic,400light,500,500light,700,700light,900light,900);
html, html * {
  font-family: Roboto;
}

.step-body {
    font-family: 'Alegreya Sans', sans-serif;
    /*margin: 0;
    padding: 0;*/
}
.step-container {
  width: 600px;
  margin: 50px auto;
}
.progressbar {
  margin: 0;
  padding: 0;
  counter-reset: step;
}
.progressbar li {
  list-style-type: none;
  width: 25%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}
.progressbar li:before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 30px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: green;
}
.progressbar li.active:before {
  border-color: #55b776;
}
.progressbar li.active + li:after {
  background-color: #55b776;
}
.demo-card-wide.mdl-card {
  background-color: #3A98EE;
}
.demo-card-wide>.mdl-card__title {
  color: #FFFFFF;
  /*background: url('http://localhost:8080/mario.png') center / cover;*/
}

.img-java{
  background: url('http://localhost:8080/java.png') center / cover;
  height: 100%;
}
.img-php{
  background: url('http://localhost:8080/php.png') center / cover;
  height: 100%;
}
.img-node{
  background: url('http://localhost:8080/node.png') center / cover;
  height: 100%;
}
.img-mysql{
  background: url('http://localhost:8080/mysql.png') center / cover;
  height: 100%;
}
.img-postgresql{
  background: url('http://localhost:8080/postgresql.png') center / cover;
  height: 100%;
}
.img-vue{
  background: url('http://localhost:8080/vue.png') center / cover;
  height: 100%;
}
.img-wildfly{
  background: url('http://localhost:8080/wildfly.png') center / cover;
  height: 100%;
}
.img-vuejava{
  background: url('http://localhost:8080/vuejava.png') center / cover;
  height: 100%;
}
h3{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 100 !important;
}
.bg-color-blue{
  background-color: #3A98EE;
}
.demo-card-wide>.mdl-card__menu {
  color: #fff;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.flex-item {
  /*padding: 10px;*/
  height: 150px;
  margin-top: 10px;
}
#content > div.flex-container > div > div.mdl-card__title > h2{
  border-bottom-width: 0px;
}
#content > div.flex-container > div:nth-child(1) > div > div.mdl-card__title > h2{
  border-bottom-width: 0px;
}
#content > div.flex-container > div:nth-child(2) > div > div.mdl-card__title > h2{
  border-bottom-width: 0px;
}
#content > div.flex-container > div:nth-child(3) > div > div.mdl-card__title > h2{
  border-bottom-width: 0px;
}
#servidor{
  display: none;
}
#seed{
  display: none;
}
#banco{
  display: none;
}
#tecnologia{
  display: none;
}
#main > p{
  display: none;
}
#inicio{
  display: none;
}
#content > p:nth-child(7){
    margin-bottom: 0px;
}
